/*******************COLOR PANEL*******************/
$body_bg: linear-gradient(315deg, #465dad 0%, #e79ee7 100%);;
$primary_bg: linear-gradient(315deg, #195dc4 0%, #2a91cc 100%);
$welcome_text: #ebebeb;
$header: #f3f3f3;

$todo_bg: #f8d68c;
$todo_bg-selected: #f5ce80;
$todo_border: #43daf5;
$todo_text: #1a67c5;
$circle_bg: #ba89e7;

$todo_bg-done: #51bd1f;
$todo_border-done: #51bd1f;
$todo_text-done: #51bd1f;
$circle_bg-done: #51bd1f;
$todo_cross: rgba(26, 104, 199, 0.7);
$todo_cross-hover: #3665a0;

$showInputButton: #f3f1ec;
$showInputButton_text: #408f1b;


$inputContainer_bg: #93dbfc;
$inputField: #f1d8a1;
$inputButton: #f1d8a1;
$inputBorder: #22a3c4;
$buttonBorder: #22a3c4;
$inputText: #1e92df;
$inputText-flash: #1e92df5a;
$flashRed: rgba(253, 67, 107, 0.500);
$flashGreen: rgba(55, 203, 94, 0.500);
/*************************************************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  margin: 0;
  background: $body_bg;
}

.root {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $primary_bg;
}

.contentContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-top: 40px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 2.2rem;
  font-family: 'Patua One', cursive;
  text-shadow: 2px solid;
  color: $header;
  align-self: flex-start;
  order: 1;
  text-shadow:
    -0.2px  0.2px 0 #533288,
     0.2px  0.2px 0 #533288,
     0.2px -0.2px 0 #533288,
    -0.2px -0.2px 0 #533288;
}

.welcomeTip {
  order: 2;
  margin-top: 40%;
  width: 68%;
  height: 6rem;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: $welcome_text;
  line-height: 1.4;
  
  &--hide {
    display: none;
  }
}

.todo {
  width: 18rem;
  min-width: 18rem;
  max-width: 18rem;
  height: 4.5rem;
  min-height: 4.5rem;
  max-height: 4.5rem;
  text-align: center;
  order: 3;
  background: $todo_bg;
  border: 5px solid $todo_border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  @include border-radius(18px);

  &:hover {
    background: $todo_bg-selected;
  }

  &--done {
    background: rgb(240, 248, 242);
    border: 5px solid $todo_border-done;
    order: 4;
    opacity: 0.4;
    z-index: 2;
  }

  &__circle {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0;
    margin-left: 15px;
    border: 4px solid $todo_border;
    display: grid;
    place-items: center;
    background: $circle_bg;
    @include border-radius(50%);
  }

  &__emoji {
    font-size: 1.55rem;
    margin: 0;
    margin-top: 2px;
    margin-left: 1px;
  }

  &__text {
    color: $todo_text;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-family: 'Open Sans', sans-serif;

    &--done {
      text-decoration: line-through;
    }
  }

  &__cross {
    visibility: hidden;
    font-size: 1.5rem;
    color: $todo_cross;
    z-index: 10;
    margin-top: 5px;

    &:hover{
      color: $todo_cross-hover;
    }

    &--done {
      visibility: visible;
    }
  }
}

.showInputButton {
  order: 8;
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  font-size: 3rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $showInputButton;
  color: $showInputButton_text;
  border: 4.3px solid $showInputButton_text;
  z-index: 100;
  position: absolute;
  transform: translate(285px, 720px);
  box-shadow: 0 0 1.5px 0.3px white;

  &--hide {
    display: none;
  }
}

.inputContainer__animation{
  width: 100%;
  order: 10;
  margin-top: auto;
  position: sticky;
  bottom: -1px;

  &--hide {
    display: none;
  }
}

.inputContainer {
  background: $inputContainer_bg;
  width: 100%;
  height: 6.5rem;
  min-height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0 10px #8548a1cc;
  z-index: 10;


  &__form {
    width: 82%;
    height: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 75%;
    text-align: center;
    border: 3px solid $inputBorder;
    background: $inputField;
    color: $inputText;
    font-size: 1.2rem;
    outline: none;
    @include border-radius(15px);

    &::-webkit-search-cancel-button{
      position: relative;
      right: 10px;
      opacity: 0.7;
    }

    &--flashRed {
      background: $flashRed;
      border-color: $flashRed;
    }

    &--flashGreen {
      background: $flashGreen;
      border-color: $flashGreen;
    }
  }

  &__button {
    width: 18%;
    border: 3px solid $buttonBorder;
    font-size: 1.8rem;
    color: $inputText;
    background: $inputButton;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(15px);

    &--flashRed {
      background: $flashRed;
      border-color: $flashRed;
      color: $inputText-flash;
    }

    &--flashGreen {
      background: $flashGreen;
      border-color: $flashGreen;
      color: $inputText-flash;
    }
  }
}

.paddingBlock {
  display: none;
}

@-moz-document url-prefix() {
  .paddingBlock {
    display: inline;
    visibility: hidden;
    width: 100%;
    height: 6.5rem;
    min-height: 6.5rem;
    order: 9;
    @include border-radius(0 0 30px 30px);

    &--hide {
      display: none;
    }
  }

  .inputButton__span {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    margin-left: 2px;
  }

  .showInputButton__span {
    width: 30px;
    height: 30px;
  }
}

@media all and (min-width: 500px) {
  body {
    display: grid;
    place-items: center;
  }

  .App {
    width: 375px;
    height: 620px;
    height: 812px;
    @include border-radius(30px);
    box-shadow: 0 0 0 3px black,
                0 0 0 14px rgb(238, 219, 250);
  }

  .contentContainer {
    @include border-radius(30px);
    box-shadow: 0px 2px 20px 4px rgb(252, 245, 233),
                0px 0px 20px 4px rgb(252, 245, 233);
  }

  .inputContainer {
    @include border-radius(0px 0px 30px 30px);
  }
}

@media all and (max-width: 500px) {
  .showInputButton {
    transform: translate(74vw, 85vh)
  }
}


@media all and (max-width: 330px) {
  .todo {
    width: 14rem;
    min-width: 14rem;
    max-width: 14rem;
    height: 4rem;
    min-height: 4rem;
    max-height: 4rem;

    &__circle {
      width: 2rem;
      height: 2rem;
    }
  }

  .welcomeTip {
    font-size: 0.8rem;
    margin-top: 100px;
  }

  .showInputButton {
    // transform: translate(230px, 480px);
  }
}